---
import { Image } from "astro:assets"

const {stack} = Astro.props
---

<section class="dark:text-light">
  <article class="flex flex-col justify-center items-center">    
      <h1>My Tech stack</h1>
      <h2>Frameworks & Languages</h2>
      <div class="tech-grid">
        {stack.frameworks.map(({ name, icon}) => (
          <div class="tech-element">
            <Image height={100} width={100} alt={name} src={icon} />
            <h2>{ name }</h2>
          </div>
        )) }
      </div>  
      <h2>CSS</h2>
      <div class="tech-grid">
        {stack.css.map(({ name, icon}) => (
          <div class="tech-element">
            <Image height={100} width={100} alt={name} src={icon} />
            <h2>{ name }</h2>
          </div>
        )) }
      </div>
      <h2>Others</h2>
      <div class="tech-grid">
        {stack.other.map(({ name, icon}) => (
          <div class="tech-element">
            <Image height={100} width={100} alt={name} src={icon} />
            <h2 class="text-center">{ name }</h2>
          </div>
        )) }
      </div>
      <h2>Databases</h2>
      <div class="tech-grid">
        {stack.databases.map(({ name, icon}) => (
          <div class="tech-element">
            <Image height={100} width={100} alt={name} src={icon} />
            <h2>{ name }</h2>
          </div>
        )) }
      </div>
      <h2>Cloud</h2>
      <div class="tech-grid">
        {stack.cloud.map(({ name, icon}) => (
          <div class="tech-element">
            <Image height={100} width={100} alt={name} src={icon} />
            <h2>{ name }</h2>
          </div>
        )) }
      </div>
      <h2>Testing</h2>
      <div class="tech-grid">
        {stack.testing.map(({ name, icon}) => (
          <div class="tech-element">
            <Image height={100} width={100} alt={name} src={icon} />
            <h2>{ name }</h2>
          </div>
        )) }
      </div>
  </article>
</section>

<style>
  .tech-element {    
    @apply flex flex-col justify-center items-center h-[270px];
  }

  .tech-grid {
    width: 80%;
    @apply grid grid-cols-4;
  }
</style>