---
import { Image } from "astro:assets";

const { stack } = Astro.props;
---

<section id="tech-stack" class="dark:text-light flex flex-col justify-center items-center">
  <h2>TECH STACK</h2>
  <article>
    <h2>Frameworks & Languages</h2>
    <div class="tech-grid">
      {
        stack.frameworks.map(({ name, icon }) => (
          <div class="tech-element">
            <Image height={100} width={100} alt={name} src={icon} />
            <h2>{name}</h2>
          </div>
        ))
      }
    </div>
  </article>
  <h2>CSS</h2>
  <article>
    <div class="tech-grid">
      {
        stack.css.map(({ name, icon }) => (
          <div class="tech-element">
            <Image height={100} width={100} alt={name} src={icon} />
            <h2>{name}</h2>
          </div>
        ))
      }
    </div>
  </article>
  <article>
    <h2>Others</h2>
    <div class="tech-grid">
      {
        stack.other.map(({ name, icon }) => (
          <div class="tech-element">
            <Image height={100} width={100} alt={name} src={icon} />
            <h2 class="text-center">{name}</h2>
          </div>
        ))
      }
    </div>
  </article>
  <article>
    <h2>Databases</h2>
    <div class="tech-grid">
      {
        stack.databases.map(({ name, icon }) => (
          <div class="tech-element">
            <Image height={100} width={100} alt={name} src={icon} />
            <h2>{name}</h2>
          </div>
        ))
      }
    </div>
  </article>
  <article>
    <h2>Cloud</h2>
    <div class="tech-grid">
      {
        stack.cloud.map(({ name, icon }) => (
          <div class="tech-element">
            <Image height={100} width={100} alt={name} src={icon} />
            <h2>{name}</h2>
          </div>
        ))
      }
    </div>
  </article>
  <article>
    <h2>Testing</h2>
    <div class="tech-grid">
      {
        stack.testing.map(({ name, icon }) => (
          <div class="tech-element">
            <Image height={100} width={100} alt={name} src={icon} />
            <h2>{name}</h2>
          </div>
        ))
      }
    </div>
  </article>
</section>

<style>
  .tech-element {
    @apply flex flex-col justify-center items-center h-[270px];
  }

  .tech-grid {
    @apply w-full grid md:grid-cols-4 grid-cols-2;
  }

  article {
    @apply w-full flex flex-col justify-center items-center;
  }
</style>
