---
import { info, techIcons } from "@data";

import type { GetStaticPaths } from "astro";
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";
import ProjectCard from "@components/general/ProjectCard.astro";
const { id } = Astro.params;

const project = info.projects.find((project) => Number(id) === project.id);

export const getStaticPaths = (() => {
  return info.projects.map((project) => {
    return {
      params: {
        id: project.id
      }
    }
  })
}) satisfies GetStaticPaths;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <MetaHead
      title={project?.title}
      description={"All projects are available in this page."}
    />
  </head>

  <body>
    <Layout>
      <h1 class="main-heading" style="line-height: 1.2;">{project.title}</h1>
      <section
        class="flex items-left justify-between flex-col dark:text-light"
      >
      <ProjectCard projectDetail={project}/>
      <p class="dark:text-light text-lg mb-16 mt-12">
        {project.description}
      </p>
      <h2 class="mb-2">Tech Stack</h2>
      <div class="flex items-start flex-row w-auto h-10 gap-1">        
        {project.techStack.map((tech) => (          
          <a href={techIcons[tech].url} target="_blank">
            <img class="fill-white object-contain h-[40px] w-[40px] mx-1 logo" src={techIcons[tech].icon} />
          </a>          
        ))
      </div>
      </section>
    </Layout>
  </body>
</html>